<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  <!--Development-->
  <!--<connectionStrings>
    <add name="OnlineShopConnection" connectionString="Data Source=.;                 
         Initial Catalog=OnlineShop-Dev;                  
         Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>  -->

  <!--Production-->
  <connectionStrings>
    <add name="OnlineShopConnection-Prod"
        connectionString="Data Source=f195f721-3e70-4202-bf69-a76f0166d468.sqlserver.sequelizer.com;
        Database=dbf195f7213e704202bf69a76f0166d468;
        User ID=vnsieikpspuafwmr;
        Password=fjyMspjMbtBBig8T7LX6CM6uEn8s2YaCZvwJ3W4JvfrYY6AKKdcHdGmzneheqZTj;
        Persist Security Info=True;
        MultipleActiveResultSets=true"
       providerName="System.Data.SqlClient" />
  </connectionStrings> 

</configuration>