<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  <!--Development-->
  <!--<connectionStrings>
    <add name="OnlineShopConnection" connectionString="Data Source=.;                 
         Initial Catalog=OnlineShop-Dev;                  
         Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings> -->

  <!--Production-->
  <connectionStrings>
    <add name="OnlineShopConnection-Production"
        connectionString="Data Source=25b26a90-ba12-4bd7-88b5-a78a016c1abb.sqlserver.sequelizer.com;
        Database=db25b26a90ba124bd788b5a78a016c1abb;
        User ID=kvlmcqoigzocusdz;
        Password=HJDLEpk4ENLKw4BtW2NxswxBN76X2ZAzguwLqfpjPG7yb67uApr5eTMmkc7FsvcM;
        Persist Security Info=True;
        MultipleActiveResultSets=true"
       providerName="System.Data.SqlClient" />
  </connectionStrings> 

</configuration>